* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.py-1 { padding: 1rem 0;}
.py-2 { padding: 2rem 0;}
.p-2 { padding: 2rem;}

.main-heading {
    font-size: 2rem;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

#diary-entry {
    margin: 2rem;
    height: 100vh;

    .heading {
        padding: 0 1rem;
    }

    .main-content {
        display: flex;
        height: 100%;
        margin-bottom: 2rem;
        overflow: hidden;

        .left-column {
            flex-basis: 35%;
            background-color: #ECECEC;
            margin-right: 2rem;
            h2 {
                color: #8A8A8A;
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }

            .search-results, .recent-added {
                margin-bottom: 2rem;

                ul li {
                    margin-bottom: 0.5rem;
                }
            }

            .search-results {
                height: 50%;
            }

            .recent-added {
                margin-bottom: 0rem;
                height: 30%;
            }

            .new-item-div {
                height: 20%;
                input {
                    width: 100%;
                    height: 2rem;
                    margin-bottom: 2rem;
                
                    &:focus {
                        border-color: #26B6E9;
                    }
                }
            }
        }
        
        .right-column {
            flex-basis: 65%;

            .meal-section {
                margin-bottom: 1rem;

                h2 {
                    color: #fff;
                    background-color: #26B6E9;
                    font-size: 1.2rem;
                    padding: 0.75rem 0.5rem;
                    margin-bottom: 1rem;
                }

                ul li {
                    margin-bottom: 0.75rem;
                    display: flex;
                    height: 1.5rem;
                    justify-content: space-between;
                    align-items: center;

                    .ingredient-info {
                        .selected {
                            margin-right: 1rem;
                        }
                    }

                    .edit .fa-pencil-alt {
                        color: #26B6E9;
                        padding-right: 0.5rem;
                    }
                }
            }
        }
    }
}